body {
      font-family: Comic Sans MS, sans-serif;
      background-color: #FFFFF0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .login-container {
      background-color: Light Sea pink;
      border-radius: 11px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
 
    h2 {
      color: Dark Gray;
      font-family: Sans-Serif;
    }